# TASK 4.8 GROUPING DATA AND AGGREGATING VARIABLES QUESTIONS

**This script answers the following questions:**

**1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.**

**2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.**

**3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.**

**4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.**

**5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.**

**6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”**

**7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”**

**8. Ensure your notebook is clean and structured and that your code is well commented.**

**9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.**

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#define path
path = r'C:\Users\ddgal\OneDrive\Desktop\Career Foundry Tasks\Data Immersion\22-03-2023 Instacart Basket Analysis'

**1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.**

In [3]:
#import ords_prods_merge data set
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged2.pkl'))

In [4]:
#check shape of imported data set
ords_prods_merge.shape

(32404859, 18)

In [5]:
#check columns
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regular Days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

**2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.**

In [6]:
#group by 'department_id' and display mean order_numbers
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

**3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code**

One obvious difference is the results from the subset does not include the mean 'order_id' for all the 'department_id's.  The results from the subset are misleading making you think department_id values 4 and 17 have the the most average orders and  least average orders, respectively.  These correspond to produce(4) and household(17).  In reality it is  department_id values 21 and 5 that have the most average orders and the least, respectively.  These correspond to missing(21) and alcohol(5).

**4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.**

For this question I will create the column 'loyalty_flag; from the demo exercise which indicates if a customer is loyal, regualar or new based on their max 'order_number'.  I will in addition add another column 'customer_status' which will flag any loyal or regular customer from the 'loyalty_flag' column as Existing customer.  The new customers for both columns will be the same.

In [7]:
#create new column 'max_order' that displays each users highest 'order_number'
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
#creates a flag in 'customer_status' that determines someone with less than 10 max order_number as a new customer 
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'customer_status'] = 'New customer'

In [9]:
#create a flag in 'customer_status' that determines someone with more than 10 max 'order_number' as a existing customer
ords_prods_merge.loc[ords_prods_merge['max_order'] > 10, 'customer_status'] = 'Existing customer'

In [10]:
#create loyalty flag for someone with more than 40 'max_order' as a loyal customer
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
#creates loyalty flag for someone with greater than 10 but less than 40 'max_order' as a Regular customer
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
#creates loyalty flag for someone with less than 10 'max_order' as a New customer
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
#check value counts for columns 'customer status' and 'loyalty_flag'
ords_prods_merge[['loyalty_flag', 'customer_status']].value_counts(dropna = False)

loyalty_flag      customer_status
Regular customer  Existing customer    15876776
Loyal customer    Existing customer    10284093
New customer      New customer          6243990
dtype: int64

In [14]:
#check new columns are correct
ords_prods_merge.head(100)[['user_id', 'max_order', 'loyalty_flag', 'customer_status']]

    user_id  max_order      loyalty_flag    customer_status
0         1         10      New customer       New customer
1         1         10      New customer       New customer
2         1         10      New customer       New customer
3         1         10      New customer       New customer
4         1         10      New customer       New customer
..      ...        ...               ...                ...
95      360          3      New customer       New customer
96      377          3      New customer       New customer
97      387          8      New customer       New customer
98      420         22  Regular customer  Existing customer
99      420         22  Regular customer  Existing customer

[100 rows x 4 columns]

As can be seen from line Out[13], the frequency counts match perfectly, and if you add them together, you get the total number of rows in the data set.  Also, from line Out[13] Regular and loyal customers are displayed as existing. 
Additionally from line Out[14], everything matches as well: 'max_order' less than and equal to 10 are flagged as New customer in both new columns and 'max_order' more than 10 and less than 40 are flagged as Regular and Existing customers in both columns.

**5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.**

In [15]:
#show basic statistics of 'loyalty_flag' displaying basis statistics of 'prices'
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

The loyalty_flag with the highest average price spent is New customer, Regular customer, and Loyal customer, respectively.  One would assume the Loyal customers would buy the higher priced items on average.  However, it is the New customer that go for the higher priced item on average.

**6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria: If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.” If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”**

In [16]:
#create 'avg_user_price' that displays what the average user has spent
ords_prods_merge['avg_user_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
#creates a flag in 'spender_status' that determines someone with less than 10 'avg_user_price' as a Low spender 
ords_prods_merge.loc[ords_prods_merge['avg_user_price'] < 10, 'spender_status'] = 'Low spender'

In [18]:
#creates a flag in 'spender_status' that determines someone with higher or equal to 19 'avg_user_price' as a High spender
ords_prods_merge.loc[ords_prods_merge['avg_user_price'] >= 10, 'spender_status'] = 'High spender'

In [19]:
#check frequency of 'spender_status'
ords_prods_merge['spender_status'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spender_status, dtype: int64

The frequency counts match and if you add them together you get the total number of rows in the data set.

In [20]:
#check if 'spender_status' is correct via table
ords_prods_merge.head(100)[['user_id', 'avg_user_price', 'spender_status']]

    user_id  avg_user_price spender_status
0         1        6.367797    Low spender
1         1        6.367797    Low spender
2         1        6.367797    Low spender
3         1        6.367797    Low spender
4         1        6.367797    Low spender
..      ...             ...            ...
95      360       10.006250   High spender
96      377        8.496552    Low spender
97      387        7.396610    Low spender
98      420        7.387805    Low spender
99      420        7.387805    Low spender

[100 rows x 3 columns]

The column flag 'spender_status' has been implented successfully as can be seen from line Out[20].  The 'spender_status' is flagged as Low spender for avg_user_price of less than 10 and Higher spender for greater or equal to 10.

**7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows: If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.” If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.” If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”**

In [21]:
#creates column 'med_days_prior_order' which is based on a users median 'days_since_prior_order
ords_prods_merge['med_days_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
#creates a flag in 'frequency_status' that determines someone with less than 10 'med_days_prior_order' as a Non-frequent customer
ords_prods_merge.loc[ords_prods_merge['med_days_prior_order'] > 20, 'frequency_status'] = 'Non-frequent customer'

In [23]:
#creates a flag in 'frequency_status' that determines someone with higher than 10 but less or equal to 20 'med_days_prior_order' as a Regular customer
ords_prods_merge.loc[(ords_prods_merge['med_days_prior_order'] > 10) & (ords_prods_merge['med_days_prior_order'] <= 20), 'frequency_status'] = 'Regular customer'

In [24]:
#creates a flag in 'frequency_status' that determines someone with less than or equal to  10 'med_days_prior_order' as a Frequent customer
ords_prods_merge.loc[ords_prods_merge['med_days_prior_order'] <= 10, 'frequency_status'] = 'Frequent customer'

In [25]:
#check frequency counts of 'frequency_status'
ords_prods_merge['frequency_status'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_status, dtype: int64

If you add the all the frequency counts together, you get the total number of rows in the data set.

In [26]:
#check if 'frequnecy_status' is correct via table
ords_prods_merge.head(100)[['user_id', 'med_days_prior_order', 'frequency_status']]

    user_id  med_days_prior_order       frequency_status
0         1                  20.5  Non-frequent customer
1         1                  20.5  Non-frequent customer
2         1                  20.5  Non-frequent customer
3         1                  20.5  Non-frequent customer
4         1                  20.5  Non-frequent customer
..      ...                   ...                    ...
95      360                   4.0      Frequent customer
96      377                  16.5       Regular customer
97      387                   8.0      Frequent customer
98      420                   7.0      Frequent customer
99      420                   7.0      Frequent customer

[100 rows x 3 columns]

As can be seen from line Out[26], the 'frequency_status' column has been implemented successfully; all the 'med_days_prior_order' values greater than 20 are labelled Non-Frequent customer, between 10 and equal to 20 is Regular customer, and less and equal to 10 are Frequent customers.

**8. Ensure your notebook is clean and structured and that your code is well commented.**

This is done

**9. Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.**

In [27]:
#export ords_prods_merge with new columns as PKL
ords_prods_merge.to_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_merge_agg.pkl'))