# TASK 4.6 EXERCISE QUESTIONS

**QUESTIONS**

**3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.**

**4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!)**

**5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.**

**6. Confirm the results of the merge using the merge flag**

**7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)**

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create path
path=r'C:\Users\ddgal\OneDrive\Desktop\Career Foundry Tasks\Data Immersion\22-03-2023 Instacart Basket Analysis'

**3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.**

In [3]:
#import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
#import products_checked
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

**4. Check the shape of the imported dataframe (it should be the same as the one you exported—always check!)**

In [5]:
#check shape of df_ords_prods_combined
df_ords_prods_combined.shape

(32434489, 10)

In [6]:
#check shape of df_prods
df_prods.shape

(49672, 6)

**5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.**

First step to check what column they have in common using the head function.

In [7]:
#check head of df_ords_prods_combined
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [8]:
#check head of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
#remove unnecessary columns 'Unnamed: 0' from df_prods 
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
#remove unnecessary column '_merge' from df_ords_prods_combined so it will not conflict with indicator = true in merge
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

So, we will combine the data sets using the column product_id, first lets check if they are the same type.

In [11]:
#check data type of proudct_id for df_prods
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [12]:
#check data type for product_id in df_ords_prods_combined
df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float64(1), int64(8)
memory usage: 2.4 GB

The product_id columns are type int64 in both sets, so lets go head the merge them.

In [13]:
#merge the data sets using column product_id
df_merged = df_ords_prods_combined.merge(df_prods, on = ['product_id'], how = 'inner', indicator = True)

In [14]:
#check shape
df_merged.shape

(32404859, 14)

In [15]:
#check columns
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

**6. Confirm the results of the merge using the merge flag**

In [16]:
#check if both frequency is equal to that of df_ords_prods_combined after the merge
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

**7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).**

In [17]:
#export df_merged as PKL
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [ ]:
#create new column with result2