# TASK 4.10 PART 1.2

THIS SCRIPT CONTAINS THE FOLLOWING SECTIONS:
   
    1. Import libraries and files with checks
    2. Age based variable
    3. Income based variable
    4. Number of dependants based variable
    5. Department_id based variable
    6. Merge df with df_deps 
    7. Export df_merge so it is ready for visualizations

**1. Import libraries and files with checks**

In [1]:
#import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#define path
path = r'C:\Users\ddgal\OneDrive\Desktop\Career Foundry Tasks\Data Immersion\22-03-2023 Instacart Basket Analysis'

#import files
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_act_cust_ords_prods.pkl'))
df_deps = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [3]:
#check number of rows and columns of df

df.shape

(30964564, 33)

Shape is good, has the right number of rows and columns

In [4]:
#display all columns

pd.set_option('display.max_columns', None)

In [5]:
#check df

df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,customer_status,loyalty_flag,avg_user_price,spender_status,med_days_prior_order,frequency_status,gender,state,age,date_joined,num_of_children,fam_status,income,region,customer_activity
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular Days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity

**2. Age based variable**

In [6]:
#check statistical info for age

df['age'].describe()

count    3.096456e+07
mean     4.946803e+01
std      1.848528e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: age, dtype: float64

So min age is 18 and max is 31

The age_profile will be classiefied into the following categories:
    
    Ages 18-39 will be young-adult
    Ages 40-64 will be middle-aged
    Ages 65+ will be senior

In [7]:
#create profile based on age with for loop

pr_age = []
for age in df['age']:
    if age >= 18 and age < 40:
        pr_age.append('young-adult')
    elif age >= 40 and  age < 65:
        pr_age.append('middle-aged')
    else:
        pr_age.append('senior')

In [8]:
#assign new column age_profile to pr_age

df['age_profile'] = pr_age

In [9]:
#check length of age_profile

len(df['age_profile'])

30964564

The length of age_profile matches the number of rows

In [10]:
#check value counts of age_profile

df['age_profile'].value_counts(dropna = False)

middle-aged    12103910
young-adult    10665110
senior          8195544
Name: age_profile, dtype: int64

In [11]:
12103910+10665110+8195544

30964564

**3. Income based variable**

In [12]:
#check statistical info for income

df['income'].describe()

count    3.096456e+07
mean     9.967587e+04
std      4.314187e+04
min      2.590300e+04
25%      6.729200e+04
50%      9.676500e+04
75%      1.281020e+05
max      5.939010e+05
Name: income, dtype: float64

The min income is 25,903 and the max is 593,901

The income_profile will be classified into the following categories:
    
    Income less than 34999 will be lower-class
    Income from 35000 to 54999 will be lower-middle class
    Income from 55000 to 106999 will be middle-class
    Income from 107000 to 235999 will be upper-middle class
    Income above 236000 will be upper-class

In [13]:
#create profile based on income with for loop

pr_income = []
for salary in df['income']:
    if salary < 35000:
        pr_income.append('lower-class')
    elif salary >= 35000 and salary < 55000:
        pr_income.append('lower-middle class')
    elif salary >= 55000 and salary < 107000:
        pr_income.append('middle-class')
    elif salary >= 107000 and salary < 236000:
        pr_income.append('upper-middle class')
    else:
        pr_income.append('upper-class')

In [14]:
#assign new column age_profile to pr_age

df['income_profile'] = pr_income

In [15]:
#check length of age_profile

len(df['income_profile'])

30964564

The length of income_profile matches the number of rows

In [16]:
#check value counts of income_profile

df['income_profile'].value_counts(dropna = False)

middle-class          14207648
upper-middle class    12102402
lower-middle class     3554463
lower-class             897925
upper-class             202126
Name: income_profile, dtype: int64

In [17]:
14207648+12102402+3554463+897925+202126

30964564

**4. Number of dependants based variable**

In the data wrangling exercise 4.4.  I renamed number_of_dependents to num_of_children.  I realize now that this was not correct since dependants has not been defined so it is unknown if its only referring to children or spouses as well.  So I will first change the name of the column from num_of_children back to num_of_dependants.

In [18]:
#change name of num_of_children to num_of_dependants

df = df.rename(columns={'num_of_children': 'num_of_dependants'})

In [19]:
#check if name change was successful

df['num_of_dependants'].describe()

count    3.096456e+07
mean     1.501819e+00
std      1.118896e+00
min      0.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      3.000000e+00
Name: num_of_dependants, dtype: float64

Name change was successful.  The min amount of dependants is 0 and the max is 3.

The dependant_profile will be classified into the following categories:
    
    If number of dependants less than one it will single-family
    If number of dependants greater than one it will be multi-family

In [20]:
#create profile based on if somebody has dependant or not

pr_dependant = []
for dependant in df['num_of_dependants']:
    if dependant < 1:
        pr_dependant.append('single-family')
    else:
        pr_dependant.append('multi-family')

In [21]:
#assign new column dependant_profile to pr_dependant

df['dependant_profile'] = pr_dependant

In [22]:
#check length of parent_profile

len(df['dependant_profile'])

30964564

The length of dependant_profile matches the number of rows

In [23]:
#check value counts of income_profile

df['dependant_profile'].value_counts(dropna = False)

multi-family     23224883
single-family     7739681
Name: dependant_profile, dtype: int64

In [24]:
23224883+7739681

30964564

The sum of all the frequencies equals the total number of rows.

**5. Department_id based variable**

In [25]:
#see df_deps for which department correspond to which department_id

df_deps

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

The department_variable will be classified into the following categories

    If department_id is equal to 8 than family with pets
    If department_id is equal to 18 than family with baby
    If deparment_id is other than the two above no pets or baby

In [26]:
#create profile based on if someone has pets or babies

pr_dep = []
for dep in df['department_id']:
    if dep == 8:
        pr_dep.append('has pet')
    elif dep == 18:
        pr_dep.append('has baby')
    else:
        pr_dep.append('no pet or baby')

In [27]:
#assign new column department_profile to pr_dep

df['department_profile'] = pr_dep

In [28]:
#check length of department_profile

len(df['department_profile'])

30964564

The length of department_profile matches the number of rows in df

In [29]:
#check value counts of deparment_profile

df['department_profile'].value_counts(dropna = False)

no pet or baby    30461112
has baby            410392
has pet              93060
Name: department_profile, dtype: int64

In [30]:
30461112+410392+93060

30964564

**6. Merge df with df_deps**

I am merging these two data frames so that I can make visualizations based on the name of the department if necessary.

In [31]:
#merge data frames and call it df_merge, I am using a left join so that all the information from df is kept in tact

df_merge = pd.merge(df, df_deps, on = 'department_id', how = 'left', indicator = True)

In [32]:
#check if merge was successful with value counts

df_merge['_merge'].value_counts(dropna = False)

both          30964564
left_only            0
right_only           0
Name: _merge, dtype: int64

In [33]:
#check that frequency counts from department_id match with department

df_merge[['department_id', 'department']].value_counts(dropna = False).sort_index()

department_id  department
1              frozen             2121731
2              other                34411
3              bakery             1120828
4              produce            9079273
5              alcohol             144627
6              international       255991
7              beverages          2571901
8              pets                 93060
9              dry goods pasta     822136
10             bulk                 33451
11             personal care       424306
12             meat seafood        674781
13             pantry             1782705
14             breakfast           670850
15             canned goods       1012074
16             dairy eggs         5177182
17             household           699857
18             babies              410392
19             snacks             2766406
20             deli               1003834
21             missing              64768
dtype: int64

Everything matches perfectly and aligns with information on Out[25].

In [34]:
#remove _merge column now

df_merge = df_merge.drop(columns = ['_merge'])

In [35]:
#check shape of df_merge, it should have 33 + 5 = 38 columns (5 are from the profile variables and the merge)

df_merge.shape

(30964564, 38)

In [36]:
#final check

df_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,customer_status,loyalty_flag,avg_user_price,spender_status,med_days_prior_order,frequency_status,gender,state,age,date_joined,num_of_dependants,fam_status,income,region,customer_activity,age_profile,income_profile,dependant_profile,department_profile,department
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular Days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages

In [37]:
#renaming of columns with flags so it is more clear what they are

df_merge = df_merge.rename(columns={'customer_status': 'customer_flag'})
df_merge = df_merge.rename(columns={'spender_status': 'spender_flag'})
df_merge = df_merge.rename(columns={'frequency_status': 'frequency_flag'})

In [38]:
#check rename successfull

df_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,customer_flag,loyalty_flag,avg_user_price,spender_flag,med_days_prior_order,frequency_flag,gender,state,age,date_joined,num_of_dependants,fam_status,income,region,customer_activity,age_profile,income_profile,dependant_profile,department_profile,department
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regular Days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity,young-adult,lower-middle class,multi-family,no pet or baby,beverages

Renaming was successful

 **7. Export df_merge so it is ready for visualizations**

In [39]:
#export df_merge

df_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'cust_ords_prods_dep_merge.pkl'))